gradio
rawpy
torch
opencv-python
imageio
scikit-learn
diffusers
gdown
seaborn
transformers
torchvision
omegaconf
albumentations==0.5.2
kornia==0.5.0
webdataset
easydict
pytorch_lightning
git+https://github.com/facebookresearch/segment-anything.git